<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Order Successful!</h2>
        <p>You can see all your orders in the orders section of ypur profile!</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
