@model String;

<div class="text-white" style="position: fixed; right: 25px; bottom: 25px">
    <a asp-controller="@Model" asp-action="Edit" class="btn btn-info float-end"><i class="bi bi-pencil-square"></i> Edit</a>
</div>
