<div class="row text-center">
    <div col-md-6 offset-3">
        <h1 class="text-info">404 Not Found!</h1>
        <br />
        <a class="btn btn-outline-success float-center" asp-controller="Books" asp-action="Index">Home Page</a> 
    </div>
</div>